.first__flex {
  display: flex;
}

.first__item {
  position: relative;
  min-height: 1px;
  display: flex;
}

.first__item2 {
  position: relative;
  min-height: 1px;
  display: flex;
  margin-left: 30px;
}
.first__item3 {
  display: flex;
  position: relative;

  flex-wrap: wrap;
}
.item {
  margin-top: 0;
  margin-bottom: 32px;
  width: 100%;
  position: relative;
  min-height: 300px;
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.item2 {
  width: 100%;
  min-height: 300px;
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.first__text {
  position: absolute;
  bottom: 15px;
  left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.first__text > a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}
.first__text:hover {
  text-decoration: underline;
}

.first__text > span {
  margin-left: 10px;
  margin-top: 10px;
}

.first__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-bottom: 2px solid rgba(124, 122, 122, 0.08);
}

.first__icon {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.first__icons > a {
  text-decoration: none;
  color: #26222f;
}
.first__icon > p {
  font-size: 16px;
  font-weight: 700;
}

.first__icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .first__flex {
    flex-direction: column;
  }
  .first__item > img {
    margin-left: -20px;
    height: 300px;
    margin-right: -100px;
    width: 445px;
    position: relative;
  }
  .first__text {
    left: 0px;
    bottom: 0px;
  }
  .item > img {
    margin-left: -50px;
    height: 300px;
    margin-right: -100px;
    width: 445px;
    margin-top: 20px;
  }
  .item2 > img {
    margin-left: -50px;
    height: 300px;
    margin-right: -100px;
    width: 445px;
    margin-top: -10px;
  }
  .first__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .first__item > img {
    width: 350px;
  }
  .item > img {
    width: 350px;
  }
  .item2 > img {
    width: 350px;
  }
}
