.second {
  text-align: center;
}
.second__text {
  color: #26222f;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second__text > p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -15px;
  letter-spacing: 2px;
}
.second__text > h2 {
  font-size: 40px;
  letter-spacing: 2px;
}

.second__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.second__button {
  margin-top: 70px;
  width: 230px;
  height: 50px;
  font-size: 16px;
  font-family: inherit;

  font-weight: 500;
}
.second__btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .second__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin-left: -20px;
  }
}

@media screen and (max-width: 420px) {
  .second__items {
    margin-left: 13px;
    gap: 30px;
  }
}
